@using BadBee.Core.MyResources;
@model BadBeeAdminPanel.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@Resources.account_settings</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal" id="manage-text">
        <dt>@Resources.password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink(Resources.change_password, "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
