@using BadBee.Core.MyResources;
@model BadBee.Core.DAL.Item

<h3 style="margin-top:150px;">@Resources.want_delete</h3>
<div>
    @*<h4>ItemsDb</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Model.Serie.Brand.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model.Serie.Brand.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model.Serie.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model.Serie.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model.Year.DateFromFK.Date1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model.Year.DateFromFK.Date1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model.Year.DateToFK.Date1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model.Year.DateToFK.Date1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BadBee.FR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadBee.FR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BadBee.Wva.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadBee.Wva.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BadBee.Wva.WvaNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadBee.Wva.WvaNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BadBee.BadBeeNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadBee.BadBeeNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BadBee.Dimension.Height.Height1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadBee.Dimension.Height.Height1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BadBee.Dimension.Width.Width1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadBee.Dimension.Width.Width1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BadBee.Dimension.Thickness.Thickness1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadBee.Dimension.Thickness.Thickness1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BadBee.Systems.Abbreviation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadBee.Systems.Abbreviation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@Resources.delete class="btn btn-default btn-confirm" /> 
            <p>@Html.ActionLink(Resources.back_to_list, "Index")</p>
        </div>
    }
</div>
