@using BadBee.Core.MyResources;

@model BadBeeAdminPanel.Models.ProductModels

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Resources.details</h2>

<div>
  @*  <h4>ItemsDb</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WvaDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WvaDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BadBeeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadBeeNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thickness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thickness)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BrakeSystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrakeSystem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Resources.edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Resources.back_to_list, "Index")
</p>
