@using BadBee.Core.MyResources;
<!-- Modal Brand -->
<div class="modal fade" id="brandFilterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">



                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.close</span></button>
                <p>@Resources.filterby <b>@Resources.brand</b></p>
            </div>
            <div class="modal-input">
                <table>
                    <tr>
                        <td><input type="text" class="form-control filter" id="brandFilter" placeholder="@Resources.modalsearch"></td>
                        <td><img src="~/Images/LUPA.png" alt="" /></td>
                    </tr>
                </table>

            </div>
            <div class="modal-body">
                <div class="modal-forms" @*style="height:300px;"*@>
                  

                  
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Programming Languages</label>
                            <select name="brands" class="form-control">

                            </select>
                        </div>

                        <div class="arrows" style="">
                            <img src="~/Images/toRight.png" onclick="toRight('brands', 'brands2', '#brands', '#brands2')" />
                            <img src="~/Images/toLeft.png" onclick="toLeft('brands', 'brands2', '#brands', '#brands2', brandsFilter)" />
                        </div>
                        <form role="form" style="width:45%;  display:inline-block; float:right">
                            <div class="form-group">
                                <p>@Resources.filterby</p>
                                <select size="9" id="brands2" class="form-control"></select>
                            </div>
                        </form>
                    </div>
            </div>
            <div class="modal-footer">

                <a class="btn btn-default btn-apply" onclick="applyBrandFilter2()">@Resources.filter</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal Serie -->
<div class="modal fade" id="serieFilterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.close</span></button>
                <p>@Resources.filterby <b>@Resources.serie</b></p>
            </div>
            <div class="modal-input">
                <table>
                    <tr>
                        <td><input type="text" class="form-control filter" id="serieFilter" placeholder="@Resources.modalsearch"></td>
                        <td><img src="~/Images/LUPA.png" alt="" /></td>
                    </tr>
                </table>

            </div>
            <div class="modal-body">
                <div class="modal-forms" @*style="height:300px;"*@>
                    <form role="form" style="width:45%; display:inline-block; float:left">
                        <div class="form-group">
                            <p>@Resources.options</p>
                            <select size="9" id="serie" class="form-control"></select>
                            @*<select size="9" id="serie" class="form-control" ondblclick="applySerieFilter()"></select>*@
                        </div>
                    </form>
                    <div class="arrows" style="">
                        <img src="~/Images/toRight.png" onclick="toRight('serie', 'serie2', '#serie', '#serie2')" />
                        <img src="~/Images/toLeft.png" onclick="toLeft('serie', 'serie2', '#serie', '#serie2', seriesFilter)" />
                    </div>
                    <form role="form" style="width:45%;  display:inline-block; float:right">
                        <div class="form-group">
                            <p>@Resources.filterby</p>
                            <select size="9" id="serie2" class="form-control"></select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <a class="btn btn-default btn-apply" onclick="applySerieFilter2()">@Resources.filter</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal Model -->
<div class="modal fade" id="modelFilterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.close</span></button>
                <p>@Resources.filterby <b>@Resources.model</b></p>
            </div>
            <div class="modal-input">
                <table>
                    <tr>
                        <td><input type="text" class="form-control filter" id="modelFilter" placeholder="@Resources.modalsearch"></td>
                        <td><img src="~/Images/LUPA.png" alt="" /></td>
                    </tr>
                </table>

            </div>
            <div class="modal-body">
                <div class="modal-forms" @*style="height:300px;"*@>
                    <form role="form" style="width:45%; display:inline-block; float:left">
                        <div class="form-group">
                            <p>@Resources.options</p>

                            <select size="9" id="model" class="form-control" @*ondblclick="applyModelFilter()"*@></select>
                            @*<div class="load"></div>*@
                        </div>
                    </form>
                    <div class="arrows" style="">
                        <img src="~/Images/toRight.png" onclick="toRight('model', 'model2', '#model', '#model2')" />
                        <img src="~/Images/toLeft.png" onclick="toLeft('model', 'model2', '#model', '#model2', modelsFilter)" />
                    </div>
                    <form role="form" style="width:45%;  display:inline-block; float:right">
                        <div class="form-group">
                            <p>@Resources.filterby</p>
                            <select size="9" id="model2" class="form-control"></select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <a class="btn btn-default btn-apply" onclick="applyModelFilter2()">@Resources.filter</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal YEARS -->
<div class="modal fade" id="yearsFilterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.close</span></button>
                <p>@Resources.filterby <b>@Resources.year</b></p>
            </div>
            <div class="modal-input">
                <table>
                    <tr>
                        <td><input type="text" class="form-control filter" id="yearsFilter" placeholder="@Resources.modalsearch"></td>
                        <td><img src="~/Images/LUPA.png" alt="" /></td>
                    </tr>
                </table>

            </div>
            <div class="modal-body">
                <div class="modal-forms" @*style="height:300px;"*@>
                    <form role="form" style="width:45%; display:inline-block; float:left">
                        <div class="form-group">
                            <p>@Resources.options</p>

                            <select size="8" id="year" class="form-control" @*ondblclick="applyYearsFilter()"*@></select>

                        </div>
                    </form>
                    <div class="arrows" style="">
                        <img src="/Images/toRight.png" onclick="toRight('year', 'year2', '#year', '#year2')" />
                        <img src="~/Images/toLeft.png" onclick="toLeft('year', 'year2', '#year', '#year2', yearsFilter)" />
                    </div>
                    <form role="form" style="width:45%;  display:inline-block; float:right">
                        <div class="form-group">
                            <p>@Resources.filterby</p>
                            <select size="9" id="year2" class="form-control"></select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <a class="btn btn-default btn-apply" onclick="applyYearsFilter2()">@Resources.filter</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal BadBee NB/ID -->
<div class="modal fade" id="badBeeFilterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.close</span></button>
                <p>@Resources.filterby <b>@Resources.BadBee_no</b></p>
            </div>
            <div class="modal-input">
                <table>
                    <tr>
                        <td><input type="text" class="form-control filter" id="badBeeFilter" placeholder="@Resources.modalsearch"></td>
                        <td><img src="~/Images/LUPA.png" alt="" /></td>
                    </tr>
                </table>

            </div>
            <div class="modal-body">
                <div class="modal-forms" @*style="height:300px;"*@>
                    <form role="form" style="width:45%; display:inline-block; float:left">
                        <div class="form-group">
                            <p>@Resources.options</p>

                            <select size="9" id="badBee" class="form-control" @*ondblclick="applyBadBeeFilter()"*@></select>
                        </div>
                    </form>
                    <div class="arrows" style="">
                        <img src="~/Images/toRight.png" onclick="toRight('badBee', 'badBee2', '#badBee', '#badBee2')" />
                        <img src="~/Images/toLeft.png" onclick="toLeft('badBee', 'badBee2', '#badBee', '#badBee2', badBeesFilter)" />
                    </div>
                    <form role="form" style="width:45%;  display:inline-block; float:right">
                        <div class="form-group">
                            <p>@Resources.filterby</p>
                            <select size="9" id="badBee2" class="form-control"></select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <a class="btn btn-default btn-apply" onclick="applyBadBeeFilter2()">@Resources.filter</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal WVA -->
<div class="modal fade" id="wvaFilterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.close</span></button>
                <p>@Resources.filterby <b>@Resources.wva</b></p>
            </div>
            <div class="modal-input">
                <table>
                    <tr>
                        <td><input type="text" class="form-control filter" id="wvaFilter" placeholder="@Resources.modalsearch"></td>
                        <td><img src="~/Images/LUPA.png" alt="" /></td>
                    </tr>
                </table>

            </div>
            <div class="modal-body">
                <div class="modal-forms" @*style="height:300px;"*@>
                    <form role="form" style="width:45%; display:inline-block; float:left">
                        <div class="form-group">
                            <p>@Resources.options</p>

                            <select size="9" id="wvas" class="form-control" @*ondblclick="applyWvaFilter()"*@></select>
                        </div>
                    </form>
                    <div class="arrows" style="">
                        <img src="~/Images/toRight.png" onclick="toRight('wvas', 'wvas2', '#wvas', '#wvas2')" />
                        <img src="~/Images/toLeft.png" onclick="toLeft('wvas', 'wvas2', '#wvas', '#wvas2', wvasFilter)" />
                    </div>
                    <form role="form" style="width:45%;  display:inline-block; float:right">
                        <div class="form-group">
                            <p>@Resources.filterby</p>
                            <select size="9" id="wvas2" class="form-control"></select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <a class="btn btn-default btn-apply" onclick="applyWvaFilter2()">@Resources.filter</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal WVA Details-->
<div class="modal fade" id="wvaDetFilterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.close</span></button>
                <p>@Resources.filterby <b>@Resources.wva</b></p>
            </div>
            <div class="modal-input">
                <table>
                    <tr>
                        <td><input type="text" class="form-control filter" id="wvadetFilter" placeholder="@Resources.modalsearch"></td>
                        <td><img src="~/Images/LUPA.png" alt="" /></td>
                    </tr>
                </table>

            </div>
            <div class="modal-body">
                <div class="modal-forms" @*style="height:300px;"*@>
                    <form role="form" style="width:45%; display:inline-block; float:left">
                        <div class="form-group">
                            <p>@Resources.options</p>

                            <select size="9" id="wvadet" class="form-control" @*ondblclick="applyWvaDetailsFilter()"*@></select>
                        </div>
                    </form>
                    <div class="arrows" style="">
                        <img src="~/Images/toRight.png" onclick="toRight('wvadet', 'wvadet2', '#wvadet', '#wvadet2')" />
                        <img src="~/Images/toLeft.png" onclick="toLeft('wvadet', 'wvadet2', '#wvadet', '#wvadet2', wvaDetsFilter)" />
                    </div>
                    <form role="form" style="width:45%;  display:inline-block; float:right">
                        <div class="form-group">
                            <p>@Resources.filterby</p>
                            <select size="9" id="wvadet2" class="form-control"></select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <a class="btn btn-default btn-apply" onclick="applyWvaDetFilter2()">@Resources.filter</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal Height-->
<div class="modal fade" id="heightFilterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.close</span></button>
                <p>@Resources.filterby <b>@Resources.height</b></p>
            </div>
            <div class="modal-input">
                <table>
                    <tr>
                        <td><input type="text" class="form-control filter" id="heightFilter" placeholder="@Resources.modalsearch"></td>
                        <td><img src="~/Images/LUPA.png" alt="" /></td>
                    </tr>
                </table>

            </div>
            <div class="modal-body">
                <div class="modal-forms" @*style="height:300px;"*@>
                    <form role="form" style="width:45%; display:inline-block; float:left">
                        <div class="form-group">
                            <p>@Resources.options</p>
                            <select size="8" id="heights" class="form-control" @*ondblclick="applyHeightFilter()"*@></select>
                        </div>
                    </form>
                    <div class="arrows" style="">
                        <img src="/Images/toRight.png" onclick="toRight('heights', 'heights2', '#heights', '#heights2')" />
                        <img src="~/Images/toLeft.png" onclick="toLeft('heights', 'heights2', '#heights', '#heights2', heightsFilter)" />
                    </div>
                    <form role="form" style="width:45%;  display:inline-block; float:right">
                        <div class="form-group">
                            <p>@Resources.filterby</p>
                            <select size="9" id="heights2" class="form-control"></select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <a class="btn btn-default btn-apply" onclick="applyHeightFilter2()">@Resources.filter</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal Width -->
<div class="modal fade" id="widthFilterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.close</span></button>
                <p>@Resources.filterby <b>@Resources.width</b></p>
            </div>
            <div class="modal-input">
                <table>
                    <tr>
                        <td><input type="text" class="form-control filter" id="widthFilter" placeholder="@Resources.modalsearch"></td>
                        <td><img src="~/Images/LUPA.png" alt="" /></td>
                    </tr>
                </table>

            </div>
            <div class="modal-body">
                <div class="modal-forms" @*style="height:300px;"*@>
                    <form role="form" style="width:45%; display:inline-block; float:left">
                        <div class="form-group">
                            <p>@Resources.options</p>

                            <select size="8" id="width1" class="form-control" @*ondblclick="applyWidthFilter()"*@></select>


                        </div>
                    </form>
                    <div class="arrows" style="">
                        <img src="~/Images/toRight.png" onclick="toRight('width1', 'width2', '#width1', '#width2')" />
                        <img src="~/Images/toLeft.png" onclick="toLeft('width1', 'width2', '#width1', '#width2', widthsFilter)" />
                    </div>
                    <form role="form" style="width:45%;  display:inline-block; float:right">
                        <div class="form-group">
                            <p>@Resources.filterby</p>
                            <select size="9" id="width2" class="form-control"></select>
                        </div>
                    </form>

                </div>
            </div>
            <div class="modal-footer">

                <a class="btn btn-default btn-apply" onclick="applyWidthFilter2()">@Resources.filter</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal Thickness -->
<div class="modal fade" id="thicknessFilterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.close</span></button>
                <p>@Resources.filterby <b>@Resources.thickness</b></p>
            </div>
            <div class="modal-input">
                <table>
                    <tr>
                        <td><input type="text" class="form-control filter" id="thicknessFilter" placeholder="@Resources.modalsearch"></td>
                        <td><img src="~/Images/LUPA.png" alt="" /></td>
                    </tr>
                </table>

            </div>
            <div class="modal-body">
                <div class="modal-forms" @*style="height:300px;"*@>
                    <form role="form" style="width:45%; display:inline-block; float:left">
                        <div class="form-group">
                            <p>@Resources.options</p>
                            <select size="8" id="thickness1" class="form-control" @*ondblclick="applyThicknessFilter()"*@></select>
                        </div>
                    </form>
                    <div class="arrows" style="">
                        <img src="/Images/toRight.png" onclick="toRight('thickness1', 'thickness2', '#thickness1', '#thickness2')" />
                        <img src="~/Images/toLeft.png" onclick="toLeft('thickness1', 'thickness2', '#thickness1', '#thickness2', thicknessesFilter)" />
                    </div>
                    <form role="form" style="width:45%;  display:inline-block; float:right">
                        <div class="form-group">
                            <p>@Resources.filterby</p>
                            <select size="9" id="thickness2" class="form-control"></select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <a class="btn btn-default btn-apply" onclick="applyThicknessFilter2()">@Resources.filter</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Diameter -->
<div class="modal fade" id="diameterFilterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.close</span></button>
                <p>@Resources.filterby <b>@Resources.diameter</b></p>
            </div>
            <div class="modal-input">
                <table>
                    <tr>
                        <td><input type="text" class="form-control filter" id="diameterFilter" placeholder="@Resources.modalsearch"></td>
                        <td><img src="~/Images/LUPA.png" alt="" /></td>
                    </tr>
                </table>

            </div>
            <div class="modal-body">
                <div class="modal-forms" @*style="height:300px;"*@>
                    <form role="form" style="width:45%; display:inline-block; float:left">
                        <div class="form-group">
                            <p>@Resources.options</p>
                            <select size="8" id="diameter" class="form-control" @*ondblclick="applyDiameterFilter()"*@></select>
                        </div>
                    </form>
                    <div class="arrows" style="">
                        <img src="/Images/toRight.png" onclick="toRight('diameter', 'diameter2', '#diameter', '#diameter2')" />
                        <img src="~/Images/toLeft.png" onclick="toLeft('diameter', 'diameter2', '#diameter', '#diameter2', diametersFilter)" />
                    </div>
                    <form role="form" style="width:45%;  display:inline-block; float:right">
                        <div class="form-group">
                            <p>@Resources.filterby</p>
                            <select size="9" id="diameter2" class="form-control"></select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <a class="btn btn-default btn-apply" onclick="applyDiameterFilter2()">@Resources.filter</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal System -->
<div class="modal fade" id="systemFilterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.close</span></button>
                <p>@Resources.filterby <b>@Resources.system</b></p>
            </div>
            <div class="modal-input">
                <table>
                    <tr>
                        <td><input type="text" class="form-control filter" id="systemFilter" placeholder="@Resources.modalsearch"></td>
                        <td><img src="~/Images/LUPA.png" alt="" /></td>
                    </tr>
                </table>

            </div>
            <div class="modal-body">
                <div class="modal-forms" @*style="height:300px;"*@>
                    <form role="form" style="width:45%; display:inline-block; float:left">
                        <div class="form-group">
                            <p>@Resources.options</p>
                            <select size="8" id="system" class="form-control" @*ondblclick="applySystemFilter()"*@></select>
                        </div>
                    </form>
                    <div class="arrows" style="">
                        <img src="~/Images/toRight.png" onclick="toRight('system', 'system2', '#system', '#system2')" />
                        <img src="~/Images/toLeft.png" onclick="toLeft('system', 'system2', '#system', '#system2', systemsFilter)" />
                    </div>
                    <form role="form" style="width:45%;  display:inline-block; float:right">
                        <div class="form-group">
                            <p>@Resources.filterby</p>
                            <select size="9" id="system2" class="form-control"></select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <a class="btn btn-default btn-apply" onclick="applySystemFilter2()">@Resources.filter</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal Rivet -->
<div class="modal fade" id="rivetFilterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.close</span></button>
                <p>@Resources.filterby <b>@Resources.rivets</b></p>
            </div>
            <div class="modal-input">
                <table>
                    <tr>
                        <td><input type="text" class="form-control filter" id="rivetsFilter" placeholder="@Resources.modalsearch"></td>
                        <td><img src="~/Images/LUPA.png" alt="" /></td>
                    </tr>
                </table>

            </div>
            <div class="modal-body">
                <div class="modal-forms" @*style="height:300px;"*@>
                    <form role="form" style="width:45%; display:inline-block; float:left">
                        <div class="form-group">
                            <p>@Resources.options</p>

                            <select size="8" id="rivet" class="form-control" @*ondblclick="applyRivetFilter()"*@></select>
                        </div>
                    </form>
                    <div class="arrows" style="">
                        <img src="~/Images/toRight.png" onclick="toRight('rivet', 'rivet2', '#rivet', '#rivet2')" />
                        <img src="~/Images/toLeft.png" onclick="toLeft('rivet', 'rivet2', '#rivet', '#rivet2', rivetsFilter)" />
                    </div>
                    <form role="form" style="width:45%;  display:inline-block; float:right">
                        <div class="form-group">
                            <p>@Resources.filterby</p>
                            <select size="9" id="rivet2" class="form-control"></select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <a class="btn btn-default btn-apply" onclick="applyRivetFilter2()">@Resources.filter</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cross -->
<div class="modal fade" id="crossFilterModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Resources.close</span></button>
                <p>@Resources.filterby <b>@Resources.cross</b></p>
            </div>
            <div class="modal-input">
                <table>
                    <tr>
                        <td><input type="text" class="form-control filter" id="crossFilter" placeholder="@Resources.modalsearch"></td>
                        <td><img src="~/Images/LUPA.png" alt="" /></td>
                    </tr>
                </table>

            </div>
            <div class="modal-body">
                <div class="modal-forms" @*style="height:300px;"*@>
                    <form role="form" style="width:45%; display:inline-block; float:left">
                        <div class="form-group">
                            <p>@Resources.options</p>

                            <select size="8" id="cross" class="form-control" @*ondblclick="applyRivetFilter()"*@></select>
                        </div>
                    </form>
                    <div class="arrows" style="">
                        <img src="~/Images/toRight.png" onclick="toRight('cross', 'cross2', '#cross', '#cross2', 'cross')" />
                        <img src="~/Images/toLeft.png" onclick="toLeft('cross', 'cross2', '#cross', '#cross2', crossNameFilter, 'cross')" />
                    </div>
                    <form role="form" style="width:45%;  display:inline-block; float:right">
                        <div class="form-group">
                            <p>@Resources.filterby</p>
                            <select size="9" id="cross2" class="form-control"></select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <a class="btn btn-default btn-apply" onclick="applyCrossFilter()">@Resources.filter</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Details -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:600px;">
        <div class="modal-content details">
            <div id="detailsModalPrintable">
                <div class="modal-header details">
                    <a style="background-image:url('/Images/printer.png');width: 25px;height: 25px;background-size: cover;position: absolute;right: 50px;top: 22px;cursor:pointer;" onclick="printDetails()"></a>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">@Resources.close</span>
                    </button>
                    <p id="detailsModalTitle" class="modal-title">@Resources.details</p>
                </div>
                <div class="modal-body" id="detailsModalContent" style="padding: 15px;">
                </div>
                <div class="modal-footer details">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:600px;">
        <div class="modal-content details">
            <div id="detailsModalPrintable">
                <div class="modal-header details">
                    <a style="background-image:url('/Images/printer.png');width: 25px;height: 25px;background-size: cover;position: absolute;right: 50px;top: 22px;cursor:pointer;" onclick="printDetails()"></a>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">@Resources.close</span>
                    </button>
                    <p id="detailsModalTitle" class="modal-title">@Resources.details</p>
                </div>
                <div class="modal-body" id="detailsModalContent" style="padding: 15px;">

                </div>
                <div class="modal-footer details">
                    <span style="float: right;">BadBee Ⓒ @DateTime.Now.Year</span>
                </div>
            </div>
        </div>
    </div>
</div>
